  @font-face {
  font-family: 'Nametag';
  src: url('../font/Nametag.ttf') format('truetype');
}
  @font-face {
  font-family: 'SevenSegment';
  src: url('../font/SevenSegment.ttf') format('truetype');
  }
  
  html, body {
    font-family: serif;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
  }
  .footer {
    background-color: #242424;
    color: #787878;
    text-align: center;
    padding: 4px 0;
    width:100%;
    bottom: 0;
    border-top: 1px solid #787878;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  .navbar {
    width: 240px;
    left: 0;
    top: 0;
    position:fixed;
    min-height: 100vh;
    height: 100%;
    background-image: url('../img/button_brick.png');
  }
  .navhaz {
    background-image: url('../img/haztape_v.png');
    width: 20px;
    left: 240px;
    position:fixed;
    min-height: 100vh;
    height: 100%;
    top: 0;
  }

  .cardhaz {
    background-image: url('../img/haztape_norm_v.png');
    width: 20px;
    margin-left: -20px;
    height: 370px;
    top: 0;
  }
  
  .playercard {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    height: 370px;
    background:darkslategray;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
  }

  .cardnamebg {
    min-width: 140px;
    width: 140px;
    max-width: 140px;
    height: 54px;
    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(101, 101, 101);
    border-radius: 2px;
    margin-left: 246px;
    margin-top: 6px;
    text-align: center;
  }
  
  .cardlogo {
    width: auto;
    height: auto;
    margin-left: 38px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .cardabilities {
    margin-top: 70px;
    margin-left: -808px;
    background-color: #ff000000;
    width: 304px;
    height: 296px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cardabilHeader {
    width: 300px;
    height: 20px;
    padding: 0px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  }

  .cardabilLevel {
    width: 32px;
    height: 38px;
    border-right: 1px solid rgba(0, 0, 0, 0.288);
  }

  .cardabilPerk {
    width: 267px;
    height: 38px;
    margin-left: 33px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
  }

  .cardXPtext {
    line-height: 20px;
    margin-top: 0px;
    margin-left: 6px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.61);
    font-size: 12px;
  }
  
  .cardextra {
    text-align: center;
    width: 100px;
    height: 370px;
    position: absolute;
    margin-left: 524px;
  }

  .flexbreaker {
    flex-basis: 100%;
    height: 0;
  }

  /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(66, 66, 66, 0.39);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.459);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffaa00; 
}

.statsHolder {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display:flex;
  justify-content:space-evenly;
  background-color: #3d3d3d;
  padding-bottom: 6px;
  padding-top: 1px;
  border-radius: 4px;
  background-image: url('../img/machine_counters.png');
  box-shadow: 4px 4px rgba(0, 0, 0, 0.544);
}

.statTicker {
  width: 70px;
  height: 40px;
  background-color: black;
  color:red;
  text-shadow: 0px 0px 4px red;
  font-size: 40px;
  font-family: 'SevenSegment';
  border: 2px solid rgb(46, 46, 46);
  border-radius: 2px;
  text-align: right;
  margin-top: -22px;
}

.statTickerHolder {
  align-items: center;
  height: 113px;
  width: 78px;
  margin-left: 20px;
}

.spinUp, .spinDown {
  height: 39px;
  min-height: 39px;
  max-height: 39px;
  width: 39px;
  min-width: 39px;
  max-width: 39px;
  padding: 0 9px;
  color: #FFF;
  margin-top: 2px;
  background-color: rgb(155, 0, 0);
  border-color: rgb(29, 0, 0);
  border-radius: 10px;
}


  .paperbg {
    
    border:10px solid;
    border-image: url('../img/paperborder.png') 30 round;
    border-top-style: none;
    border-bottom-style: none;
    width: 364px;
    color:black;
    padding:10px;
    min-height: 100px;
    
    background-image: url('../img/paperbg.png');
    background-clip: padding-box;
  }

  .papershadow {
    width: 404px;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), transparent);
    margin-left: -20px;
    margin-top: -10px;
  }

  .content {
    margin-left: 260px;
  }

  .machine {
     width:720px;
     height: 120px;
     background-image:url('../img/machine.png');
     overflow:hidden;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
  }
  .titlefont {
    font-size: 30pt;
    margin-left: 20px;
    line-height: 84px;
    color:#ffffff;
    text-shadow: 0 0 10px #ffb056, 0 0 20px darkorange, 0 0 25px darkorange, 0 0 30px darkorange;
  }
  .gb_console {
    background: linear-gradient(black, #291102);
    width: 480px;
    height: 80px;
    margin-left: 120px;
    margin-top: -7px;
  }

  .navbutton {
    background-image: url('../img/button_unlit.png');
    display: inline-block;
    width: 240px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position:sticky;
    color:#ffc200;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    text-decoration: none;
  }
  
  .navbutton:hover {
    background-image: url('../img/button_lit_red.gif');
    box-shadow: 0 10px 20px rgba(197, 0, 49, 0.2);
    box-shadow: 0 -5px 15px rgba(197, 0, 49, 0.2), 0 10px 20px rgba(197, 0, 49, 0.2);
    z-index: 10;
    color:white;
  }

  .logo {
    width:240px;
    height:180px;
    background-image: url('../img/gblogo_unlit.png');
  }
  .logo:hover {
    background-image: url('../img/gblogo.png');
  }

.vt323 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.syne-mono {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.workbench-regular {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.nameFont {
  font-family: 'Nametag';
  line-height: 0px;
  color: red;
}

.levelFont {
  font-family: 'Nametag';
  line-height: 0px;
  font-size: 10px;
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  text-align: center;
  font-weight: bold;
}

.levelNum {
  font-size: 26px;
  margin-top: -16px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 29px;
  text-align: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}