  html, body {
    font-family: serif;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
  }
  .footer {
    background-color: #242424;
    color: #787878;
    text-align: center;
    padding: 4px 0;
    width:100%;
    bottom: 0;
    border-top: 1px solid #787878;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  .navbar {
    width: 240px;
    left: 0;
    top: 0;
    position:fixed;
    min-height: 100vh;
    height: 100%;
    background-image: url('../img/button_brick.png');
  }
  .navhaz {
    background-image: url('../img/haztape_v.png');
    width: 20px;
    left: 240px;
    position:fixed;
    min-height: 100vh;
    height: 100%;
    top: 0;
  }

  .paperbg {
    
    border:10px solid;
    border-image: url('../img/paperborder.png') 30 round;
    border-top-style: none;
    border-bottom-style: none;
    width: 364px;
    color:black;
    padding:10px;
    min-height: 100px;
    
    background-image: url('../img/paperbg.png');
    background-clip: padding-box;
  }

  .papershadow {
    width: 404px;
    height: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), transparent);
    margin-left: -20px;
    margin-top: -10px;
  }

  .content {
    margin-left: 260px;
  }

  .machine {
     width:720px;
     height: 120px;
     background-image:url('../img/machine.png');
     overflow:hidden;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
  }
  .titlefont {
    font-size: 30pt;
    margin-left: 20px;
    line-height: 84px;
    color:#ffffff;
    text-shadow: 0 0 10px #ffb056, 0 0 20px darkorange, 0 0 25px darkorange, 0 0 30px darkorange;
  }
  .gb_console {
    background: linear-gradient(black, #291102);
    width: 480px;
    height: 80px;
    margin-left: 120px;
    margin-top: -7px;
  }

  .navbutton {
    background-image: url('../img/button_unlit.png');
    display: inline-block;
    width: 240px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position:sticky;
    color:#ffc200;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    text-decoration: none;
  }
  
  .navbutton:hover {
    background-image: url('../img/button_lit_red.gif');
    box-shadow: 0 10px 20px rgba(197, 0, 49, 0.2);
    box-shadow: 0 -5px 15px rgba(197, 0, 49, 0.2), 0 10px 20px rgba(197, 0, 49, 0.2);
    z-index: 10;
    color:white;
  }

  .logo {
    width:240px;
    height:180px;
    background-image: url('../img/gblogo_unlit.png');
  }
  .logo:hover {
    background-image: url('../img/gblogo.png');
  }

.vt323 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.syne-mono {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.workbench-regular {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}